.statistics {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}

.statList {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.item {
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  color: white;
  text-shadow: 0 0 4px black;
  font-size: 20px;
  font-weight: 400;
}

.item:not(:last-child) {
  border-right: 1px solid grey;
}
